@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.syne-font{
  font-family: "Syne", sans-serif;
}

.open-sans-font{
  font-family: "Open Sans", sans-serif;
}

.debug{
    border: 2px solid red;
}


.container{
  max-width: 1220px;
  margin: auto;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #2AB8DB;
  border: none ;
  border-radius: 0; 
}

.swiper-pagination-bullet-active {
  background: #FFA8A7
}



.Bars {
  width: 570px; 
  height: 20px;
  background: transparent;
  border: 2px solid #FFFFFF1A;
}
.Bars span {
  display: block;
  height: 100%;
}

.Bar {
  background-color: #2AB8DB;
  width: 0%; /* starting empty */
  transition: width 2s ease-in-out;
}
